	<%= form_for(@story, html: {class: "form-horizontal"}) do |f| %>
	  <% if @story.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>
	
	      <ul>
	      <% @story.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	
	  <div class="form-group">
	    <%= f.label :title, class: 'col-sm-2 control-label' %>
	    <div class="col-sm-8">
	    	<%= f.text_field :title, class: 'form-control' %>
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <%= f.label :summary, class: 'col-sm-2 control-label' %>
	    <div class="col-sm-8">
	    	<%= f.text_field :summary, class: 'form-control' %>
	    </div>
	  </div>
	  
	  <div class="form-group">
	  	<%= f.label :content, class: 'col-sm-2 control-label' %>
	  	<div class="col-sm-8">
	  		<%= f.text_area :content, class: 'wysihtml5 form-control' %>
	  	</div>
	  </div>
	  
	  <div class="form-group">
	  	<div class="col-sm-offset-2 col-sm-4">
	    	<%= f.submit "Submit story", class: 'btn btn-block btn-primary' %>
	    </div>
	  </div>
	<% end %>