<% @stories.each do |story| %>
<div class="vote-column">
	<% if current_user && current_user.votes.where(:story_id => story.id, :up => true).present? %>
	  <div class="vote-cell upvoted">
	  	<i class="fa fa-check voted"></i>
	  </div>
	<% elsif current_user %>
	  <%= link_to (raw("<div class='vote-cell upvote'><i class='fa fa-chevron-up'></i></div>")), votes_path(:vote => {:story_id => story.id, :up => true}), :method => :post, class: 'black' %>
	<% end %>
	<div class="vote-cell count">
		<strong><%= story.votes.where(:up => true).count - story.votes.where(:up => false).count %></strong>
	</div>
	
	<% if current_user && current_user.votes.where(:story_id => story.id, :up => false).present? %>
	  <div class="vote-cell downvoted">
	  	<i class="fa fa-check voted"></i>
	  </div>
	<% elsif current_user %>
	  <%= link_to (raw("<div class='vote-cell downvote'><i class='fa fa-chevron-down'></i></div>")), votes_path(:vote => {:story_id => story.id, :up => false}), :method => :post, class: 'black' %>
	<% end %>
</div>

<article> 
	<div class="story-content">
		<div>
			<h2><%= story.title %></h2>
			<p><strong>Submitted by:</strong> <%= story.user.display_name %> <small><em><%= time_ago_in_words(story.created_at) %> ago.</small></em></p>
			<p><%= story.summary %></em></p>
		</div>
				  
		<ul class="list-unstyled list-inline">
		  <li><%= link_to story do %>Read more and comment <i class="fa fa-chevron-right"></i><% end %></li>
		</ul>
	</div>
	<div class="clearfix"></div>
</article>

<div class="clearfix"></div>
<% end %>

<div class="ctr">
<%= paginate @stories %>
</div>

<!--<p><%= link_to "Add a story", new_story_path %></p>-->