<!DOCTYPE html>
<html lang="en" id="devise">
	<head>
	  <title>Pitch | Iowa Graph Magazine</title>
	  <meta name="viewport" content="initial-scale=1">
	  
	  <script type="text/javascript" src="//use.typekit.net/knt4zyr.js"></script>
	  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	  
	  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.14.1/build/cssreset/cssreset-min.css">
	  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
	  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	  
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= csrf_meta_tags %>
	</head>
	<body id="devise">
		<header class="push">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						
						<ul class="nav pull-left">
							<li><a href="/">Pitch - Iowa Graph Magazine</a></li>
						</ul>
						<ul class="nav pull-right">
							<% if user_signed_in? %>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Hey, <%= current_user.first_name %><b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><%= link_to edit_user_registration_path do %>
											<i class="fa fa-edit"></i> Edit your profile
										<% end %>
									</li>
									<li><%= link_to destroy_user_session_path, method: :delete do %>
											<i class="fa fa-sign-out"></i> Log out
										<% end %>
									</li>
								</ul>
							</li>
							<% else %>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Want in?<b class="caret"></b></a>
									<ul class="dropdown-menu">
								    	<li><%= link_to new_user_session_path do %>
								    			<i class="fa fa-sign-in"></i> Log in
								    		<% end %>
								    	</li>
								    	<li><%= link_to new_user_registration_path do %>
								    			<i class="fa fa-thumbs-up"></i> Join Pitch
								    		<% end %>
								    	</li>
								    </ul>
								   </li>
							<% end %>
						</ul>
						
					</div>
				</div>
			</div>
		</header>
		
		<section id="form-area" data-stellar-background-ratio="0.2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 col-sm-6">						
						<div id="devise-form">						
							<%= yield %>
						</div>
					</div>
					
					<div class="col-md-6 col-sm-6">
						<div class="pad">
							<% [:notice, :error, :alert].each do |level| %>
							    <% unless flash[level].blank? %>
							        <div data-alert="alert" class="alert alert-<%= level %> fade in">
							          <a class="close" data-dismiss="alert" href="#">&times;</a>
							          <%= content_tag :p, flash[level] %>
							        </div>
							    <% end %>
							<% end %>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		
		<section id="why" class="padless">
			<div class="container">
				<div class="row">
					
					<div class="col-md-4">
						<h3><i class="fa fa-keyboard-o"></i> Pitch</h3>
						<p>Do you have a story you want to write or that you'd like to see written in Iowa Graph? Here's where you do it.</p>
					</div>
					
					<div class="col-md-4">
						<h3><i class="fa fa-check"></i> Vote</h3>
						<p>Rate the stories submitted by your fellow writers. The top stories each month will be commissioned for publication in a future issue of Iowa Graph.</p>
					</div>
					
					<div class="col-md-4">
						<h3><i class="fa fa-comment"></i> Discuss</h3>
						<p>Help your fellow writer make their story better and get feedback on yours.</p>
					</div>
					
				</div>
			</div>
		</section>
		
		<footer class="pad">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="ctr">&copy; <%= Time.now.year %> <a href="//iowagraph.com">Iowa Graph Magazine</a> &nbsp; &middot; &nbsp; <a href="mailto:editor@iowagraph.com">Contact us</a></p>
					</div>
				</div>
			</div>
		</footer>
		
		<%= javascript_include_tag "application" %>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
		
	</body>
</html>
